body{
  text-align: center;
  font-family: helvetica;
}

.header, h5 {
  background-image: url(../images/the-flatiron-building.png);
  color: white
}

h1{
  font-size: 70px;
  font-weight: bold;
}

h5, h3{
  font-size: 23px;
  font-weight: bold;
}

h2{
  font-size: 32px;
  font-weight: bold;
}

h4{
  font-size: 18px;
}

p{
  font-size: 14px;
}

.footer{
 color: white;
  text-align: left;
  background-color: dimgray;
  font-size: 11px;
}
